<footer>
    <div class="columns">
      <div class="logo">
        <img src="assets/icon-logo.Bi0O_rGO_Z1iLfJp.svg" alt="Logo StarFlowers">
        <h2>StarFlowers</h2>
        <div class="container-rights" style="margin-top: 10px;">
          <p>
            Derechos reservados<br>
            © 2019 StarFlowers.
          </p>
        </div>
      </div>
  
      <div class="info">
        <a routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        <a routerLink="/about" routerLink="about">Acerca de</a>
      </div>
  
      <div class="social-media">
        <!-- Facebook -->
        <a href="https://www.facebook.com/starflowersec/" target="_blank">
          <i class="mdi mdi-facebook" aria-hidden="true"></i>
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/starflowers.ec/" target="_blank">
          <i class="mdi mdi-instagram" aria-hidden="true"></i>
        </a>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/company/grupo-malima-starflowers/posts/?feedView=all" target="_blank">
          <i class="mdi mdi-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </footer>
  