.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left img {
    width: 30px;
    margin-right: 10px;
}

.header-left h2 {
    margin: 0;
    font-size: 1.2rem;
}

.top-header {
    background-color: var(--primary-color);
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.top-header .header-left h1 {
    margin: 0;
    font-size: 1.25rem;
}

.header-right a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.header-right a:hover {
    text-decoration: underline;
}