<nav>
  <div class="container-content-nav">
    <div class="icon-nav">
      <a routerLink="/">
        <img src="assets/icon-logo.Bi0O_rGO_Z1iLfJp.svg" alt="" />
        <h2>StarFlowers</h2>
      </a>
    </div>
  </div>
</nav>

<div class="container-register">
  <h2>Registro</h2>
  <!-- <form (submit)="onRegister()">
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Correo electrónico"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required
    />
    <input 
      type="password"
      [(ngModel)]="passwordConfirm"
      name="passwordConfirm" 
      id="password-confirmation"
      placeholder="Confirmar Contraseña"
      required
    />
    <input
      type="text"
      [(ngModel)]="fullName"
      name="fullName"
      placeholder="Nombre completo"
    />
    <label for="role">Selecciona un rol:</label>
    <select [(ngModel)]="role" name="role">
      <option value="gerencia">gerencia</option>
      <option value="analista">analista</option>
      <option value="admin">admin</option>
    </select>
    <button type="submit">Registrarse</button>
    <div class="container-login">
      ¿Ya tienes una cuenta? 
      <a href="/login">
        Inicia Sesión
      </a>
    </div>
  </form>
  <p *ngIf="errorMessage">{{ errorMessage }}</p> -->
</div>